<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="common/layout">
<head>
    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/select2/4.0.3/css/select2.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/select2-bootstrap-css/1.4.6/select2-bootstrap.css}"/>
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css}"/>
    </div>
</head>

<body>
<div layout:fragment="htmlContent">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Create New Api Job
                    </div>
                </div>
                <div class="portlet-body form">
                    <form method="post" th:attr="data-create-new-job-uri=@{/api/quartz/job}" name="createApiJobForm"
                          id="createApiJobForm"
                          class="form-horizontal">
                        <div class="form-body" th:id="jobInfoForm" th:name="jobInfoForm">
                            <h3 class="form-section">Job Info</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="jobKeyName" class="control-label col-md-3">Key Name<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="jobKeyName" name="jobKeyName"
                                                   data-rule-required="true"
                                                   data-msg-required="Job Key Name is missing."
                                                   data-rule-customUniqueKey="true"
                                                   data-msg-customUniqueKey="Job key already exists."
                                                   th:attr="data-custom-unique-key-validation=@{/api/validation/uniqueJobKey}"
                                                   data-group-name-selector="input#jobGroupName"
                                                   class="form-control" placeholder="Job Key Name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="jobGroupName" class="control-label col-md-3">Group Name<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly" value="DEFAULT"
                                                   data-rule-required="true"
                                                   data-msg-required="Job Group Name is missing."
                                                   id="jobGroupName" name="jobGroupName"
                                                   class="form-control" placeholder="Job Group Name"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="jobDescription" class="control-label col-md-3">Description<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <textarea th:rows="10" th:cols="5" id="jobDescription"
                                                      data-rule-required="true"
                                                      data-msg-required="Job Description is missing."
                                                      name="jobDescription"
                                                      class="form-control" placeholder="Job Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Type<span class="required"
                                                                                        aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="jobType" name="jobType"
                                                   data-rule-required="true" data-msg-required="Job Type is missing."
                                                   readonly="readonly"
                                                   class="form-control" placeholder="Job Type"
                                                   th:value="${T(com.vishnu.aggarwal.core.enums.JobType).getJobType(jobType)}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="jobRecovery" class="control-label col-md-3">Recovery</label>
                                        <div class="col-md-9">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" id="jobRecovery" name="jobRecovery"
                                                           class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="jobDurability" class="control-label col-md-3">Durability</label>
                                        <div class="col-md-9">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" id="jobDurability" name="jobDurability"
                                                           class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="jobScheduled" class="control-label col-md-3">Scheduled</label>
                                        <div class="col-md-9">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" id="jobScheduled" name="jobScheduled"
                                                           onclick="toggleTriggerFormVisibilityBasedOnJobScheduled(this, 'div#triggerInfoForm')"
                                                           class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:for="jobExecutorClass" class="control-label col-md-3">Job Executor
                                            Class<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <select id="jobExecutorClass" name="jobExecutorClass"
                                                    data-rule-required="true"
                                                    data-msg-required="Job Executor Class is missing."
                                                    onchange="changeRequestTypeBasedOnExecutorClass(this, 'select#requestType')"
                                                    placeholder="Select Job Executor Class" class="form-control">
                                                <option data-enum-name="" data-associated-http-method="" value="">
                                                    Select
                                                </option>
                                                <option th:each="jobExecutorClass : ${T(com.vishnu.aggarwal.core.enums.JobExecutorClass).values()}"
                                                        th:value="${jobExecutorClass}"
                                                        th:attr="data-enum-name=${jobExecutorClass}, data-associated-http-method=${jobExecutorClass.getHttpMethod()}"
                                                        th:text="${jobExecutorClass.getClassName()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:for="requestType" class="control-label col-md-3">Request Type<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <select id="requestType" name="requestType" disabled="disabled"
                                                    data-rule-required="true"
                                                    data-msg-required="Request Type is missing."
                                                    readonly="readonly"
                                                    placeholder="Select Request Type"
                                                    class="form-control">
                                                <option value="">Select</option>
                                                <option th:each="httpMethod : ${T(org.springframework.http.HttpMethod).values()}"
                                                        th:value="${httpMethod}"
                                                        th:attr="data-enum-name=${httpMethod}"
                                                        th:text="${httpMethod}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="requestUrl" class="control-label col-md-3">Request Url<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="url" id="requestUrl" name="requestUrl"
                                                   data-rule-required="true" data-msg-required="Request Url is missing."
                                                   class="form-control" placeholder="Request Url"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="requestHeaderDataRow" class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">Request Headers
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table id="requestHeaderTable"
                                                               class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Key</th>
                                                                <th>Value</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr data-row-number="1" class="request-header-row">
                                                                <td>
                                                                    <input type="text" id="requestHeaderKey_1"
                                                                           name="requestHeaderKey"
                                                                           class="form-control request-header-key"
                                                                           data-rule-customRequestHeadersRequired="true"
                                                                           data-msg-customRequestHeadersRequired="Request Header Key is missing."
                                                                           data-associated-header-value-id="input#requestHeaderValue_1"
                                                                           placeholder="Request Header Key"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="requestHeaderValue_1"
                                                                           name="requestHeaderValue"
                                                                           class="form-control request-header-value"
                                                                           data-rule-customRequestHeadersRequired="true"
                                                                           data-msg-customRequestHeadersRequired="Request Header Value is missing."
                                                                           data-associated-header-key-id="input#requestHeaderKey_1"
                                                                           placeholder="Request Header Value"/>
                                                                </td>
                                                                <td>
                                                                    <span>
                                                                        <button type="button" id="addRequestHeaderRow"
                                                                                data-previous-row-number=""
                                                                                name="addRequestHeaderRow"
                                                                                class="btn btn-sm green default">Add</button>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-body hidden" th:id="triggerInfoForm" th:name="triggerInfoForm">
                            <h3 class="form-section">Trigger Info</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:for="scheduleType" class="control-label col-md-3">Schedule
                                            Type<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <select id="scheduleType" name="scheduleType"
                                                    data-rule-required="true"
                                                    data-msg-required="Scheduler Type is missing."
                                                    onchange="toggleSchedulerTypeVisibilityBasedOnType(this, 'div#simpleSchedulerDataRow', 'div#cronSchedulerDataRow')"
                                                    placeholder="Select Scheduler Type" class="form-control">
                                                <option value="">Select</option>
                                                <option th:each="scheduleType : ${T(com.vishnu.aggarwal.core.enums.ScheduleType).values()}"
                                                        th:value="${scheduleType}"
                                                        th:attr="data-enum-name=${scheduleType}"
                                                        th:text="${scheduleType.getKey()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="triggerKeyName" class="control-label col-md-3">Key Name<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="triggerKeyName"
                                                   data-rule-required="true"
                                                   data-msg-required="Trigger Key Name is missing."
                                                   data-rule-customUniqueKey="true"
                                                   data-msg-customUniqueKey="Trigger key already exists."
                                                   th:attr="data-custom-unique-key-validation=@{/api/validation/uniqueTriggerKey}"
                                                   data-group-name-selector="input#triggerGroupName"
                                                   name="triggerKeyName"
                                                   class="form-control" placeholder="Trigger Key Name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="triggerGroupName" class="control-label col-md-3">Group Name<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly"
                                                   data-rule-required="true" value="DEFAULT"
                                                   data-msg-required="Trigger Group Name is missing."
                                                   id="triggerGroupName" name="triggerGroupName"
                                                   class="form-control" placeholder="Trigger Group Name"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="triggerDescription"
                                               class="control-label col-md-3">Description<span class="required"
                                                                                               aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <textarea th:rows="10" th:cols="5"
                                                      data-rule-required="true"
                                                      data-msg-required="Trigger Description is missing."
                                                      id="triggerDescription"
                                                      name="triggerDescription"
                                                      class="form-control" placeholder="Trigger Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="triggerStartNow" class="control-label col-md-3">Start Now</label>
                                        <div class="col-md-9">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" checked="checked"
                                                           data-rule-customTriggerStartNowRequired="true"
                                                           data-msg-customTriggerStartNowRequired="Start Now needs to be checked."
                                                           onclick="toggleTriggerStartTimeBasedOnTriggerStartNow(this, 'div#triggerStartTimeRow')"
                                                           id="triggerStartNow" name="triggerStartNow"
                                                           class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hidden" id="triggerStartTimeRow">
                                        <label for="triggerStartTime" class="control-label col-md-3">Start Time</label>
                                        <div class="col-md-9">
                                            <input type='text' placeholder="Trigger Start Time"
                                                   data-rule-customTriggerStartTimeRequired="true"
                                                   data-msg-customTriggerStartTimeRequired="Start Time is missing."
                                                   class="form-control date-time-picker" id='triggerStartTime'
                                                   name="triggerStartTime"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="triggerEndTime" class="control-label col-md-3">End Time</label>
                                        <div class="col-md-9">
                                            <input type='text' placeholder="Trigger End Time"
                                                   class="form-control date-time-picker" id='triggerEndTime'
                                                   name="triggerEndTime"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="simpleSchedulerDataRow" class="row hidden">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">Simple Scheduler</div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Repeat Type<span class="required"
                                                                                     aria-required="true"> * </span>
                                                                </th>
                                                                <th>Repeat Forever</th>
                                                                <th>Repeat Value<span class="required"
                                                                                      aria-required="true"> * </span>
                                                                </th>
                                                                <th class="repeat-count-column hidden">Repeat Count</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <select id="repeatType" name="repeatType"
                                                                            data-rule-required="true"
                                                                            data-msg-required="Repeat Type is missing."
                                                                            placeholder="Select Repeat Type"
                                                                            class="form-control">
                                                                        <option value="">Select</option>
                                                                        <option th:each="repeatType : ${T(com.vishnu.aggarwal.core.enums.RepeatType).values()}"
                                                                                th:value="${repeatType}"
                                                                                th:text="${repeatType.getDisplayText()}"></option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <div class="checkbox-list">
                                                                        <label class="checkbox-inline">
                                                                            <input type="checkbox" id="repeatForever"
                                                                                   checked="checked"
                                                                                   name="repeatForever"
                                                                                   data-rule-customRepeatForeverRequired="true"
                                                                                   data-msg-customRepeatForeverRequired="Repeat Forever needs to be checked."
                                                                                   onclick="toggleRepeatCountBasedOnRepeatForever(this, 'th.repeat-count-column', 'td.repeat-count-column')"
                                                                                   class="form-control"/>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="number" id="repeatValue"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Repeat Value is missing."
                                                                           name="repeatValue" placeholder="Repeat Value"
                                                                           class="form-control"/>
                                                                </td>
                                                                <td class="repeat-count-column hidden">
                                                                    <input type="number" id="repeatCount"
                                                                           name="repeatCount"
                                                                           data-rule-customTriggerRepeatCountRequired="true"
                                                                           data-msg-customTriggerRepeatCountRequired="Repeat Count is missing."
                                                                           placeholder="Repeat Count"
                                                                           class="form-control"/>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden" id="cronSchedulerDataRow">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">Cron Scheduler</div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Second<span class="required"
                                                                                aria-required="true"> * </span></th>
                                                                <th>Minute<span class="required"
                                                                                aria-required="true"> * </span></th>
                                                                <th>Hour<span class="required"
                                                                              aria-required="true"> * </span></th>
                                                                <th>Day of Month<span class="required"
                                                                                      aria-required="true"> * </span>
                                                                </th>
                                                                <th>Month<span class="required"
                                                                               aria-required="true"> * </span></th>
                                                                <th>Day of Week<span class="required"
                                                                                     aria-required="true"> * </span>
                                                                </th>
                                                                <th>Year</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" id="cronExpressionSecond"
                                                                           name="cronExpressionSecond"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Second is missing."
                                                                           placeholder="Second"
                                                                           class="form-control cron-seconds"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionMinute"
                                                                           name="cronExpressionMinute"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Minute is missing."
                                                                           placeholder="Minute"
                                                                           class="form-control cron-minutes"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionHour"
                                                                           name="cronExpressionHour" placeholder="Hour"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Hour is missing."
                                                                           class="form-control cron-hours"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionDayOfMonth"
                                                                           name="cronExpressionDayOfMonth"
                                                                           placeholder="Day of Month"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Day of Month is missing."
                                                                           class="form-control cron-day-of-month"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionMonth"
                                                                           name="cronExpressionMonth"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Month is missing."
                                                                           placeholder="Month"
                                                                           class="form-control cron-month"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionDayOfWeek"
                                                                           name="cronExpressionDayOfWeek"
                                                                           placeholder="Day of Week"
                                                                           data-rule-required="true"
                                                                           data-msg-required="Day of Week is missing."
                                                                           class="form-control cron-day-of-week"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="cronExpressionYear"
                                                                           name="cronExpressionYear" placeholder="Year"
                                                                           class="form-control cron-years"/>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green">Submit</button>
                                            <button type="reset" class="btn default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div layout:fragment="customJS">
    <script type="text/javascript" th:src="@{/webjars/select2/4.0.3/js/select2.full.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.17.0/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.17.0/additional-methods.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/momentjs/2.21.0/moment.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/momentjs/2.21.0/min/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/transition.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/collapse.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/common/js/components-date-time-pickers.js}"></script>
    <script type="text/javascript" th:src="@{/quartz/job/js/create.js}"></script>
</div>
</body>
</html>