<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="TRIGGER_TYPE_SIMPLE">
    <!--<div class="form-body hidden"
         th:id="triggerInfoForm"
         th:name="triggerInfoForm">
        <h3 class="form-section">Trigger Info</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="scheduleType"
                           class="control-label col-md-3">
                        Schedule Type
                        <span class="required"
                              aria-required="true">
                                                *
                                        </span>
                    </label>
                    <div class="col-md-9">
                        <select id="scheduleType"
                                name="scheduleType"
                                data-rule-required="true"
                                data-msg-required="Scheduler Type is missing."
                                onchange="toggleSchedulerTypeVisibilityBasedOnType(this, 'div#simpleSchedulerDataRow', 'div#cronSchedulerDataRow')"
                                placeholder="Select Scheduler Type"
                                class="form-control">
                            <option value="">
                                Select
                            </option>
                            <option th:each="scheduleType : ${T(com.vishnu.aggarwal.core.enums.ScheduleType).values()}"
                                    th:value="${scheduleType}"
                                    th:attr="data-enum-name=${scheduleType}"
                                    th:text="${scheduleType.getKey()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="triggerKeyName"
                           class="control-label col-md-3">
                        Key Name
                        <span class="required"
                              aria-required="true">
                                                *
                                            </span>
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               id="triggerKeyName"
                               data-rule-required="true"
                               data-msg-required="Trigger Key Name is missing."
                               data-rule-customUniqueKey="true"
                               data-msg-customUniqueKey="Trigger key already exists."
                               th:attr="data-custom-unique-key-validation=@{${T(com.vishnu.aggarwal.core.constants.ThymeleafUrlMapping).uniqueTriggerKeyValidationUri()}}"
                               data-group-name-selector="input#triggerGroupName"
                               name="triggerKeyName"
                               class="form-control"
                               placeholder="Trigger Key Name"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="triggerGroupName"
                           class="control-label col-md-3">
                        Group Name
                        <span class="required"
                              aria-required="true">
                                                *
                                            </span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" readonly="readonly"
                               data-rule-required="true"
                               data-msg-required="Trigger Group Name is missing."
                               id="triggerGroupName" name="triggerGroupName"
                               class="form-control" placeholder="Trigger Group Name"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="triggerDescription"
                           class="control-label col-md-3">
                        Description
                        <span class="required"
                              aria-required="true">
                                                *
                                            </span>
                    </label>
                    <div class="col-md-9">
                                            <textarea th:rows="10"
                                                      th:cols="5"
                                                      data-rule-required="true"
                                                      data-msg-required="Trigger Description is missing."
                                                      id="triggerDescription"
                                                      name="triggerDescription"
                                                      class="form-control"
                                                      placeholder="Trigger Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="triggerStartNow"
                           class="control-label col-md-3">
                        Start Now
                    </label>
                    <div class="col-md-9">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                <input type="checkbox"
                                       checked="checked"
                                       data-rule-customTriggerStartNowRequired="true"
                                       data-msg-customTriggerStartNowRequired="Start Now needs to be checked."
                                       onclick="toggleTriggerStartTimeBasedOnTriggerStartNow(this, 'div#triggerStartTimeRow')"
                                       id="triggerStartNow"
                                       name="triggerStartNow"
                                       class="form-control"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group hidden" id="triggerStartTimeRow">
                    <label for="triggerStartTime"
                           class="control-label col-md-3">
                        Start Time
                        <span class="required"
                              aria-required="true">
                                                *
                                            </span>
                    </label>
                    <div class="col-md-9">
                        <input type='text'
                               placeholder="Trigger Start Time"
                               data-rule-customTriggerStartTimeRequired="true"
                               data-msg-customTriggerStartTimeRequired="Start Time is missing."
                               class="form-control date-time-picker"
                               id='triggerStartTime'
                               name="triggerStartTime"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="triggerEndTime"
                           class="control-label col-md-3">
                        End Time
                    </label>
                    <div class="col-md-9">
                        <input type='text'
                               placeholder="Trigger End Time"
                               class="form-control date-time-picker"
                               id='triggerEndTime'
                               name="triggerEndTime"/>
                    </div>
                </div>
            </div>
        </div>


        <div id="simpleSchedulerDataRow"
             class="row hidden">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Simple Scheduler
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                Repeat Type
                                                <span class="required"
                                                      aria-required="true">
                                                                            *
                                                                        </span>
                                            </th>
                                            <th>
                                                Repeat Forever
                                            </th>
                                            <th>
                                                Repeat Value
                                                <span class="required"
                                                      aria-required="true">
                                                                            *
                                                                        </span>
                                            </th>
                                            <th class="repeat-count-column hidden">
                                                Repeat Count
                                                <span class="required"
                                                      aria-required="true">
                                                                            *
                                                                        </span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select id="repeatType"
                                                        name="repeatType"
                                                        data-rule-required="true"
                                                        data-msg-required="Repeat Type is missing."
                                                        placeholder="Select Repeat Type"
                                                        class="form-control">
                                                    <option value="">
                                                        Select
                                                    </option>
                                                    <option th:each="repeatType : ${T(com.vishnu.aggarwal.core.enums.RepeatType).values()}"
                                                            th:value="${repeatType}"
                                                            th:text="${repeatType.getDisplayText()}">
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="checkbox-list">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox"
                                                               id="repeatForever"
                                                               checked="checked"
                                                               name="repeatForever"
                                                               data-rule-customRepeatForeverRequired="true"
                                                               data-msg-customRepeatForeverRequired="Repeat Forever needs to be checked."
                                                               onclick="toggleRepeatCountBasedOnRepeatForever(this, 'th.repeat-count-column', 'td.repeat-count-column')"
                                                               class="form-control"/>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number"
                                                       id="repeatValue"
                                                       data-rule-required="true"
                                                       data-msg-required="Repeat Value is missing."
                                                       name="repeatValue"
                                                       placeholder="Repeat Value"
                                                       class="form-control"/>
                                            </td>
                                            <td class="repeat-count-column hidden">
                                                <input type="number"
                                                       id="repeatCount"
                                                       name="repeatCount"
                                                       data-rule-customTriggerRepeatCountRequired="true"
                                                       data-msg-customTriggerRepeatCountRequired="Repeat Count is missing."
                                                       placeholder="Repeat Count"
                                                       class="form-control"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden"
             id="cronSchedulerDataRow">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Cron Scheduler
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                Second
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Minute
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Hour
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Day of Month
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Month
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Day of Week
                                                <span class="required"
                                                      aria-required="true">
                                                                        *
                                                                    </span>
                                            </th>
                                            <th>
                                                Year
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionSecond"
                                                       name="cronExpressionSecond"
                                                       data-rule-required="true"
                                                       data-msg-required="Second is missing."
                                                       placeholder="Second"
                                                       class="form-control cron-seconds"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionMinute"
                                                       name="cronExpressionMinute"
                                                       data-rule-required="true"
                                                       data-msg-required="Minute is missing."
                                                       placeholder="Minute"
                                                       class="form-control cron-minutes"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionHour"
                                                       name="cronExpressionHour"
                                                       placeholder="Hour"
                                                       data-rule-required="true"
                                                       data-msg-required="Hour is missing."
                                                       class="form-control cron-hours"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionDayOfMonth"
                                                       name="cronExpressionDayOfMonth"
                                                       placeholder="Day of Month"
                                                       data-rule-required="true"
                                                       data-msg-required="Day of Month is missing."
                                                       class="form-control cron-day-of-month"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionMonth"
                                                       name="cronExpressionMonth"
                                                       data-rule-required="true"
                                                       data-msg-required="Month is missing."
                                                       placeholder="Month"
                                                       class="form-control cron-month"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionDayOfWeek"
                                                       name="cronExpressionDayOfWeek"
                                                       placeholder="Day of Week"
                                                       data-rule-required="true"
                                                       data-msg-required="Day of Week is missing."
                                                       class="form-control cron-day-of-week"/>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       id="cronExpressionYear"
                                                       name="cronExpressionYear"
                                                       placeholder="Year"
                                                       class="form-control cron-years"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<div th:fragment="TRIGGER_TYPE_CRON">
    TRIGGER_TYPE_CRON
</div>
<div th:fragment="TRIGGER_TYPE_NONE">
    TRIGGER_TYPE_NONE
</div>
<div th:fragment="TRIGGER_FORM_NEW">
    TRIGGER_FORM_NEW
</div>
<div th:fragment="TRIGGER_FORM_NONE">
    TRIGGER_FORM_NONE
</div>
</body>
</html>