<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="commonSIDEBAR"
     class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed"
            data-keep-expanded="false"
            data-auto-scroll="true"
            data-slide-speed="200">
            <li class="heading">
                <h3 class="uppercase">
                    Dashboard
                </h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:"
                   class="nav-link ">
                    <i class="icon-diamond">
                    </i>
                    <span class="title">
                        Dashboard
                    </span>
                </a>
            </li>

            <li class="heading">
                <h3 class="uppercase">
                    Jobs
                </h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:"
                   class="nav-link nav-toggle">
                    <i class="icon-diamond">
                    </i>
                    <span class="title">
                        Create
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:"
                   class="nav-link nav-toggle">
                    <i class="icon-diamond">
                    </i>
                    <span class="title">
                        Update
                    </span>
                </a>
            </li>

            <li class="heading">
                <h3 class="uppercase">
                    Triggers
                </h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:"
                   class="nav-link nav-toggle">
                    <i class="icon-diamond">
                    </i>
                    <span class="title">
                        Create
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:"
                   class="nav-link nav-toggle">
                    <i class="icon-diamond">
                    </i>
                    <span class="title">
                        Update
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>