<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="commonCSS">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/font-awesome/5.0.6/svg-with-js/css/fa-svg-with-js.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/simple-line-icons/2.4.1/css/simple-line-icons.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/ionicons/2.0.1/css/ionicons.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.structure.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/toastr/2.1.2/build/toastr.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/uniform/2.1.2/themes/default/css/uniform.default.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/common/css/components-rounded.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/common/css/plugins.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/common/css/layout.css}"/>
</div>
</body>
</html>