<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="commonFONT">
    <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Hind:400,500,700}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Oswald:400,300,700}"
          rel="stylesheet"
          type="text/css"/>
</div>
</body>
</html>