<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="page-header"
        th:fragment="commonHEADER">
    <nav class="navbar"
         role="navigation">
        <div class="container-fluid">
            <div class="havbar-header">
                <a id="index"
                   class="navbar-brand"
                   th:href="@{/web/user/dashboard}">
                    <img src="../assets/layouts/layout6/img/logo.png"
                         alt="Logo"/>
                </a>
                <div class="topbar-actions">
                    <div class="btn-group-notification btn-group"
                         id="header_notification_bar">
                        <button type="button"
                                class="btn dropdown-toggle"
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                data-close-others="true">
                            <span class="badge">
                                9
                            </span>
                        </button>
                        <ul class="dropdown-menu-v2">
                            <li class="external">
                                <h3>
                                    <span class="bold">
                                        12 pending
                                    </span>
                                    notifications
                                </h3>
                                <a href="#">
                                    view all
                                </a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller"
                                    style="height: 250px; padding: 0;"
                                    data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus">
                                                            </i>
                                                        </span>
                                                        New user registered.
                                                    </span>
                                            <span class="time">
                                                just now
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group-img btn-group">
                        <button type="button"
                                class="btn btn-sm dropdown-toggle"
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                data-close-others="true">
                            <img src="../assets/layouts/layout5/img/avatar1.jpg"
                                 alt=""/>
                        </button>
                        <ul class="dropdown-menu-v2"
                            role="menu">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user">
                                    </i>
                                    My Profile
                                    <span class="badge badge-danger">
                                        1
                                    </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="page_user_lock_1.html">
                                    <i class="icon-lock">
                                    </i>
                                    Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="page_user_login_1.html">
                                    <i class="icon-key">
                                    </i>
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>