<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      th:with="lang=${#locale.language}"
      th:lang="${lang}"
      layout:decorate="common/layout">
<head>
    <div layout:fragment="customCSS">
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/webjars/select2/4.0.3/css/select2.css}"/>
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/webjars/select2-bootstrap-css/1.4.6/select2-bootstrap.css}"/>
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/forgotPassword/css/forgotPassword.css}"/>
    </div>
</head>

<body class="forgot-password">
<div layout:fragment="htmlContent">
    <div class="content">
        <form class="forget-form"
              th:attr="data-forgot-password-uri=@{/api/user/forgotPassword}"
              method="post">
            <h3 class="font-green">
                Forget Password ?
            </h3>
            <div class="alert alert-danger display-hide">
                <button class="close"
                        data-close="alert">
                </button>
                <span>
                    Enter your username and contact email id.
                </span>
            </div>
            <div class="form-group">
                <input class="form-control placeholder-no-fix"
                       type="text"
                       autocomplete="off"
                       required="required"
                       placeholder="Username"
                       name="username"
                       th:value="${username}"
                       id="username"/>
            </div>
            <div class="form-group">
                <input class="form-control placeholder-no-fix"
                       type="email"
                       autocomplete="off"
                       required="required"
                       placeholder="Contact Email Id"
                       name="contactEmailId"
                       id="contactEmailId"/>
            </div>
            <div class="form-actions">
                <a th:href="@{/web}"
                   type="button"
                   id="back-btn"
                   class="btn btn-default">
                    Back
                </a>
                <button type="submit"
                        class="btn btn-success uppercase pull-right">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="copyright">
        2018 © Quartz Job Scheduler.
    </div>
</div>

<div layout:fragment="customJS">
    <script type="text/javascript"
            th:src="@{/webjars/jquery-validation/1.17.0/jquery.validate.js}">
    </script>
    <script type="text/javascript"
            th:src="@{/webjars/jquery-validation/1.17.0/additional-methods.js}">
    </script>
    <script type="text/javascript"
            th:src="@{/webjars/select2/4.0.3/js/select2.full.js}">
    </script>
    <script type="text/javascript"
            th:src="@{/forgotPassword/js/forgotPassword.js}">
    </script>
</div>
</body>
</html>