.forgot-password {
    background-color: #364150 !important;
}

.forgot-password .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.forgot-password .content {
    background-color: #eceef1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.forgot-password .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.forgot-password .content h4 {
    color: #555;
}

.forgot-password .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px 0;
}

.forgot-password .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.forgot-password .content .form-control {
    border: none;
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}

.forgot-password .content .form-control:focus,
.forgot-password .content .form-control:active {
    border: 1px solid #c3ccda;
}

.forgot-password .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}

.forgot-password .content .form-control:-ms-input-placeholder {
    color: #8290a3;
}

.forgot-password .content .form-control::-webkit-input-placeholder {
    color: #8290a3;
}

.forgot-password .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}

.forgot-password .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.forgot-password .content .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 25px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.forgot-password-options {
    margin-bottom: 30px;
    overflow: hidden;
}

.forgot-password-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa !important;
}

.forgot-password .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.forgot-password .content .form-actions .btn {
    margin-top: 1px;
}

.forgot-password .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px !important;
}

.forgot-password .content .form-actions .btn-default {
    font-weight: 600;
    padding: 10px 25px !important;
    color: #6c7a8d;
    background-color: #ffffff;
    border: none;
}

.forgot-password .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af;
}

.forgot-password .content .forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 10px;
}

.forgot-password .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

@media (max-width: 440px) {
    .forgot-password .logo {
        margin-top: 10px;
    }

    .forgot-password .content {
        width: 280px;
        margin-top: 10px;
    }

    .forgot-password .content h3 {
        font-size: 22px;
    }

    .forget-password {
        display: inline-block;
        margin-top: 20px;
    }
}
